/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Carme|Gentium+Book+Basic');
* { margin:0; padding:0; box-sizing:border-box;}
body {
	font-family:"Carme", monospace;
	color: #ffffff;
	background: black;
	margin: 0;
}

h1 {
	font-size: 2em;
}

section {
	padding:4em 0;
}

h1, h2, h3{
	text-align: center;
	font-family: "Gentium Book Basic";
}

h3 {
	color: #000000;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-family: "Gentium Book Basic";
}

a:hover {
	color: #00ff00; /*green*/
}

nav a {
	text-decoration: underline;
	display:inline-block;
}


footer {
	/* margin-top: 31%; */
	background-color: #545454;
	clear: both;
	margin-bottom: -10%;
}

footer p, #portfolio {
	display: block;
	text-align: center;
}

li img {
	width: 75px;
}

#contact a {
	color: #0000ff; /*blue*/
	font-family: "Carme", monospace;
}

#hero {
	/*background: url(../images/cssCode.png);*/
	background:url(../images/Atlas-Dynamism-min.jpg);
	background-size:cover; b
	background-repeat:no-repeat;
	color: #000000;
	font-size: 1.4em;
	height: 10%;
}

#hero p, h2 {
	width: 75%;
	text-align:center;
	background:#e0e0d1;
	margin: 0 auto;
}

#hero > h2{
	font-size: 1.6em;
}

#hero a {
	color: #000000; 
	text-decoration: underline;
}

#skills {
	width: 100%;
	height: 20%;
	text-align: center;
}

#skills > h2, #portfolio > h2, *#about > h2, #contact > h2 {
	color: #ffffff; /* white */
	background: #000000; /* black */
	font-size: 1.6em;
}

#learningImage {
	display: block;
	width: 80%;
	margin: auto;
}

#skillSet {
	list-style: none;
	background: #000000;
	text-align: center;
	padding: 0;
	margin: 0;
}

#skillSet > li {
	text-decoration: none;
	display: inline-block;
	margin-bottom: 0;
	
}

#portfolio {
	clear: both;
	margin-top: -7%;
}

#portfolio img {
	width:25%;

}

#portfolio p {
	text-align: center;
}

#gallery {
	display: block;
	width: 75%;
	margin: 0 auto;
}

#aboutAndContact{
	display: block;
	margin-top: -7%;
	margin-bottom: -20%;
}

#about, #contact {
	display: block;
	text-align: center;
}

#about {
	width: 43%;
	float: left;
}

#about img {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

#about p {
	text-align: left;
	margin-left: 2%;
	margin-right: -5%;
}

#contact {
	width: 50%;
	float: right;
	line-height: 2em;

}
	
#contact p {
	
	vertical-align: middle;
}	
/* Unit 6: CSS; */
#two_column {
	background-color:#FFB7CF;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}