/*style.css*/
#wrapper {
	background-color: #660033;
	width: 960px;
	margin: 0 auto;
}

h1, h2, h3 {
	color: #5EE8E3;
}
 
h2 {
	color: white;
	font-weight: normal;
	font-style: italic;
}

h1, h2 {
	text-align: center;
}

a {
	color: #5EE8E3;
	text-decoration: none;
}

 img {
	display: block;
	width: 60%;
	margin: 0 auto;
}

header {
	background-color: #545454;
}

nav {
	font-size: 20px;
	font-style: italic;
	font-family: Georgia, serif;
	background-color: #545454;
	padding: 10px;
	text-align: center;
}

footer {
	background-color: #545454;
}

