/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Carme|Gentium+Book+Basic');
* { margin:0; padding:0; box-sizing:border-box;}
body {
	font-family:"Carme", monospace;
	color: #ffffff;
	background: black;
}
section {
	padding:4em 0;
}
h1, h2, h3{
	text-align: center;
	font-family: "Gentium Book Basic";
}

h3 {
	color: #000000;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-family: "Gentium Book Basic";
}

a:visited {
	color: #00ff00; /*green*/
}

nav a {
	text-decoration: underline;
	display:inline-block;
}
#contact a {
	color: #0000ff; /*blue*/
	font-family: "Carme", monospace;
}

footer {
	/* margin-top: 31%; */
	background-color: #545454;
}

footer p {
	display: block;
	text-align: center;
}
/*--Making contents visible -*/
#hero {
	background: url(../images/cssCode.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 80vh;
	padding: 10em;
}
#portfolio img {
	width:25%;
	float:left;
	padding: .25em;
}
